# created by virtualenv automatically
# Entorno virtual

.venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc

# Archivos de distribución
*.egg-info/
dist/
build/

# Variables de entorno
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db